.routes-staff{
    margin: 8px 8px 8px 0;
    width: 100%;
    flex-flow: wrap;
}
.page-title{
    min-width: 650px;
    text-align: center;
    position: sticky; 
    top: -0px;
    background-image: linear-gradient(to bottom, #E1DDDB, #e1dddb00);
    height: 56px;
    padding: 4px;
    border-radius: 8px;
    color: #0C4A60;
    margin-right: 8px;
}
.routes-staff-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}