:root{
    --white-hover-color: rgb(241, 240, 240);
    --color-1: black;
    --color-2: white;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body-wraper{
    height: calc(100vh - 150px);
    background: var(--color-1);
    display: flex;
}